{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Crak'Hot Forum</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">Crak'Hot</div>
        <nav>
        <a href="/">Accueil</a>
        <a href="/login">Connexion</a>
        <a href="/register">Inscription</a>
    </nav>
    </header>
{{end}}
</body>
</html>