{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Crak'Hot Forum</title>
</head>
<body>
    <div class="logo-hero-section">
        <img src="/assets/logo.png" alt="Crak'Hot Logo" class="main-logo">
    </div>

    <nav class="navbar">
        <div class="nav-links">
            <a href="/" class="{{if eq .Page "home"}}active{{end}}">ACCUEIL</a>
            <a href="/reseau" class="{{if eq .Page "reseau"}}active{{end}}">RESEAU</a>
            <a href="/recherche" class="{{if eq .Page "recherche"}}active{{end}}">RECHERCHE</a>
        </div>
        
        <div class="search-bar-container">
            <input type="text" placeholder="Rechercher un sujet ou un piment..." class="search-input">
            <i class="fa fa-search search-icon"></i>
        </div>

        <div class="auth-buttons">
            {{if .IsConnected}}
                <div class="user-profile-header">
                    <span class="user-pseudo">{{.Pseudo}}</span>
                    <div class="user-avatar">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <a href="/logout" class="logout-icon">
                        <i class="fa-solid fa-power-off"></i>
                    </a>
                </div>
                {{else}}
            <a href="/login" class="btn-login-text">Se connecter</a>
            <a href="/register" class="btn-register">S'inscrire</a>
            {{end}}
        </div>
    </nav>
{{end}}