<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    {{template "header"}}
    <main class="container">
        <section class="hero">
            <h1>Bienvenue sur la Braise</h1>
            <p>Le forum n°1 de la culture pimentée.</p>
        </section>

        <div class="category-card">
            <h2>La Braise</h2>
            <p>Discussion générales sur les piments.</p>
        </div>
    </main>
    {{template "footer"}}
</body>
</html>