

{{ template "header" . }}

<main class="container">
    <div class="category-header">
        <h1 class="category-title">Tous les posts</h1>
        {{if .UserInfos.IsConnected}}
            <a href="/postCreate" class="btn-post">+ Poster</a>
        {{end}}

    </div>

    <div class="filter-tabs">
        <a href="#" class="filter-link">TOP</a>
        <a href="#" class="filter-link">RECENTS</a>
    </div>

    <div class="action-bar">
        <button class="btn-discussion">Discussion Générale</button>
    </div>

    <div class="forum-table-wrapper">
        <table class="forum-table">
            <thead>
                <tr>
                    <th>Sujet</th>
                    <th>Auteur</th>
                    <th>Catégorie</th>
                    <th>Commentaires</th>
                    <th>Date</th>
                    <th>Likes</th>
                </tr>
            </thead>

            <tbody>
                {{range .Posts}}
                <tr>
                    <td>
                        <a href="/post?id={{.ID}}" class="subject-title">{{.Titre}}</a>
                    </td>

                    <td class="text-muted">{{.Author}}</td>

                    <td class="text-muted">{{.Categorie}}</td>

                    <td class="text-muted">{{.ComCount}}</td>

                    <td class="text-muted">{{.DatePublication}}</td>

                    <td class="text-muted">{{.LikeCount}}</td>
                    
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</main>

{{ template "footer" . }}
