{{ template "header" . }}

<div class="sort-bar">
    <form method="get" class="sort-form" style="display: flex; gap: 10px; align-items: center;">

        <!-- Menu déroulant -->
        <select name="sort">
            <option value="">-- Trier par --</option>
            <option value="date_desc">Date (récent -> ancien)</option>
            <option value="date_asc">Date (ancien -> récent)</option>
            <option value="likes_desc">Likes (plus -> moins)</option>
            <option value="likes_asc">Likes (moins -> plus)</option>
            <option value="com_desc">Commentaires (plus -> moins)</option>
            <option value="com_asc">Commentaires (moins -> plus)</option>
        </select>

        <input type="hidden" name="t" value="{{.Search}}">

        <button type="submit" class="btn-black">Trier</button>

        <a href="/posts" class="btn-black">Réinitialiser</a>

    </form>
</div>

<main class="container">


    <h1 class="category-title">Tous les posts</h1>

    </div>
        <a class="filter-link active-filter">TOP</a>
        <a class="filter-link">RECENTS</a>
    </div>

    <div class="action-bar">
        <a href="/postCreate" class="btn-post">+ Poster</a>
    </div>

    <div class="forum-table-wrapper">
        <table class="forum-table">
            <thead>
                <tr>
                    <th>SUJET</th>
                    <th>AUTEUR</th>
                    <th>CATÉGORIE</th>
                    <th>COMMENTAIRES</th>
                    <th>DATE</th>
                    <th>LIKES</th>
                </tr>
            </thead>
            <tbody>
                {{range .Posts}}
                <tr>
                    <td>
                        <a href="/post?id={{.ID}}" class="subject-title">{{.Titre}}</a>
                    </td>
                    <td class="text-muted">{{.Author}}</td>
                    <td class="text-muted">{{.Categorie}}</td>
                    <td class="text-muted">{{.ComCount}}</td>
                    <td class="text-muted">{{.Date}}</td>
                    <td class="text-muted">{{.LikeCount}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>

</main>
{{ template "footer" . }}