{{ define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Crak'Hot Forum</title>
</head>
<body>
    <div class="logo-hero-section">
        <img src="/assets/logo.png" alt="Crak'Hot Logo" class="main-logo">
    </div>

    <nav class="navbar">
        <div class="nav-links">
            <a href="{{if .IsConnected}}/forum{{else}}/{{end}}" class="nav-link {{if eq .Page "home"}}active{{end}}">ACCUEIL</a>
            
            <a href="/reseau" class="nav-link {{if eq .Page "reseau"}}active{{end}}">RESEAU</a>
            
            <a href="/coup-de-coeur" class="nav-link {{if eq .Page "heart"}}active{{end}}">COUP DE COEUR</a>

        </div>

        
        
        <div class="search-bar-container">
            <input type="text" placeholder="Rechercher un sujet ou un piment..." class="search-input">
            <i class="fa fa-search search-icon"></i>
        </div>

        <div class="auth-buttons">
            {{if .IsConnected}}
                <div class="user-profile-header">
                    <a href="/editaccount" class="user-profile-link" title="Paramètres du compte" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
                        <span class="user-pseudo" style="margin-right: 10px;">{{.Username}}</span>
                        
                        <div class="user-avatar" style="cursor: pointer; transition: transform 0.2s;">
                        {{if .LoadedPP}}
                            <img src="{{.LoadedPP}}" alt="Photo de profil" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; border: 0.5px solid #ccc;" />
                        {{else}}
                            <img src="/static/pp/defaultPP.png" alt="Photo de profil par défaut" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; border: 0.5px solid #ccc;" />
                        {{end}}
                        </div>
                    </a>
                    
                    <a href="/logout" class="logout-icon" title="Déconnexion" style="margin-left: 15px;">
                        <i class="fa-solid fa-power-off"></i>
                    </a>
                </div>
            {{else}}
                <a href="/login" class="btn-login-text">Se connecter</a>
                <a href="/register" class="btn-register">S'inscrire</a>
            {{end}}
        </div>
    </nav>
{{end}}
