{{template "header" .}}
<main class="container">
    <h3 style="color: #666;">Création post</h3>
    
            <form action="/postCreate" method="post" class="stack">
                <p>
                <label>Titre du post :</label><br />
                <input type="text" name="titre" placeholder="Titre..." required>
                </p>

                <p>
                <label >Catégorie :</label><br />
                <input type="radio"  id="categorie" name="categorie" value="Recette">
                <label> Recette</label>
                <br>
                <input type="radio"  id="categorie" name="categorie" value="Evenement">
                <label > Evenement</label>
                <br>
                <input type="radio"  id="categorie" name="categorie" value="Adresse">
                <label > Adresse</label>
                <br>
                <input type="radio"  id="categorie" name="categorie" value="Avis">
                <label > Avis</label>
                <br>
                <input type="radio"  id="categorie" name="categorie" value="Conseils">
                <label> Conseils</label>
                </p>

                <p>
                <label >Descripton :</label><br />
                <textarea type="text" name="contenu" rows="10" cols="50" required>
                </textarea>
                </p>
                
                <div class="btn-row">
                    <input type="submit" value="Post" class="btn-black" style="float: right;">
                    <input type="submit" value="Annuler" class="btn-black" style="float: right;">
                </div>
        
            </form>
</main>
{{template "footer" .}}

            



            